@import "var";

/*base*/
html{
  height: 100%;
  font-size: 62.5%;
}

body{
  font-size: 1.6rem;
  line-height: 1;
  height: 100%;
  color: $text-color-content;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol,
ul,
li{
  list-style: none;
}

a{
  text-decoration: none;
}


image,
input,
button{
  vertical-align: top;
}

input, button{
  background-color: transparent;
  border: none;
}

button{
  cursor: pointer;
}

/*style*/
.wrap{
  @include flex(row, center, center);
  height: 100vh;
  background-color: $bg-gray;
}

.todo{
  position: relative;
  width: 40rem;
  height: 60rem;
  background-color: $color-white;
  box-shadow: 0 0 8px 8px rgba(0, 0, 0, 0.04);
  border-radius: 1rem;
  overflow: hidden;
}


//head
.todo-head{
  height: 15%;
  padding: 1.5rem 2rem;

  h1{
    color: $text-color-title;
    margin-bottom: 1rem;
  }
}
.date{
  font-size: $font-m;
  color: $text-color-gray;
  font-weight: bold;
}

//todo-body
.todo-body{
  height: 60%;
  padding: 1.5rem 2rem;
}

.todo-list{
  @include flex(col, center, flex-start);
  gap: 1rem;
}

.todo-item{
  //border-bottom-right-radius: 10px;
  @include flex(row, space-between, center);
  width: 100%;

  &__text{
    @include flex(row, flex-start, center);
    @include paper;
  }

  .delete-btn{
    display: none;
    width: 3.2rem;
    height: 3.2rem;
    background: $svg-remove center no-repeat;
    background-size: 2rem auto;
    border-radius: 50%;
    font-size: 0;
    line-height: 0;

    &:hover{
      background-color: $bg-gray;
    }
  }
}

.todo-item:hover{
  .delete-btn{
    display: block;
  }
}

input[type='checkbox']{
  display: none;
}

label:has(input[type='checkbox']){
  cursor: pointer;

  :before{
    content: "";
    display: inline-block;
    width: 1.6rem;
    height: 1.6rem;
    margin-right: 1rem;
    border-radius: 50%;
    border: 1px solid $color-secondary;
  }
}

label:has(input[type='checkbox']:checked){
  .todo-item__text{
    text-decoration: line-through;
    color: $text-color-gray;
  }

  :before{
    background: $svg-check center;
    background-color: $color-secondary;
    border-color: $color-secondary;
    animation: checked ease-in-out 0.4s;
  }
}

@keyframes checked {
  0%{
    transform: scale(100%);
  }
  50%{
    transform: scale(120%);
  }
  100%{
    transform: scale(100%);
  }
}

//todo-create
.todo-create{
  position: relative;
  position: absolute;
  inset: auto auto -12.8rem 0;
  width: 100%;
  padding: 1.5rem 2rem;
  text-align: center;
  border-top-left-radius: 8px;
  border-top-right-radius: 10px;
  background-color: $color-white;
  box-shadow: 0px -8px 12px 0px rgba(0, 0, 0, 0.04);
  @include moving;

  &.is_open{
    inset: auto auto 0 0;

    .control-btn{
      transform: rotate(0deg);
    }
  }
}

.control-btn{
  position: absolute;
  z-index: 99;
  inset: -6rem 1rem auto auto;
  width: 4rem;
  height: 4rem;
  background: $svg-plus no-repeat center center;
  transform: rotate(225deg);
  background-size: 100% auto;
  background-color: $color-primary;
  border-radius: 50%;
  text-indent: -999999px;
  @include moving;
}

.create-btn{
  background-color: $color-primary;
  padding: 1rem;
  border: none;
  border-radius: 8px;
  color: $color-white;
  font-weight: bold;
  margin-bottom: 2rem;
  cursor: pointer;

  &:hover{
    filter: opacity(0.8);
  }
}

.create-text{
  width: 100%;
  height: 4rem;
  padding-left: 1rem;
  font-size: $font-m;
  border: none;
  @include paper;
}